.ChatMessage {
  background-color: #f0f0ff;
  border: 1px solid #ddf;
  border-radius: 4px;
  margin: 5px 0;
  word-wrap: break-word;
}

.ChatMessageName {
  background-color: #ddddf0;
  float: left;
}

.ChatMessageContent {
  padding-left: 1rem;
}

.ChatMessageCreated {
  background-color: #ddddf0;
  float: right;
  padding-left: 1rem;
}

.ChatUsersList {
  border-right: 1px solid #F7F7F9;
}

.ChatUsersHeader {
  background-color: #F7F7F9;
  margin: 0 0.2rem 1rem 0.2rem;
  padding: 0.2rem;
  padding-left: 1rem;
}

.ChatUserName {
  background-color: #ddddf0;
  border-radius: 0.2rem;
  margin-left: 1rem;
}
